$vehicule-color : '#EFFEFF';
$vehicule-border : '#D4D4D4';

$vehicule-hover-color : '#D4D4D4';

$model-font-weight : 700;
$model-bachground : '#5C5C5C';

.vehicle{
    color: $vehicule-color;
    font-size: 15px;
    border: 1px solid $vehicule-border;

    &:hover {
        color: $vehicule-hover-color;
    }

    &.model{
    font-weight: $model-font-weight;
    background: $model-bachground;
    }

}


